<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>notes</key>
		<dict>
			<key>111</key>
			<array>
				<integer>12</integer>
				<integer>8</integer>
			</array>
			<key>121</key>
			<array>
				<integer>13</integer>
				<integer>15</integer>
			</array>
		</dict>
		<key>listeModule</key>
		<array>
			<integer>111</integer>
			<integer>121</integer>
			<integer>131</integer>
		</array>
		<key>numero</key>
		<integer>731952</integer>
		<key>nom</key>
		<string>Durand</string>
		<key>prenom</key>
		<string>Martin</string>
		<key>civilite</key>
		<string>Monsieur</string>
		<key>dateNaissance</key>
		<date>1994-12-12T14:52:51Z</date>
		<key>semestre</key>
		<string>S1</string>
		<key>adresseMail</key>
		<string>martin.durand@u-psud.fr</string>
	</dict>
	<dict>
		<key>notes</key>
		<dict/>
		<key>listeModule</key>
		<array>
			<integer>421</integer>
			<integer>431</integer>
			<integer>411</integer>
		</array>
		<key>numero</key>
		<integer>654</integer>
		<key>nom</key>
		<string>Dupont</string>
		<key>prenom</key>
		<string>Charlotte</string>
		<key>civilite</key>
		<string>Mademoiselle</string>
		<key>dateNaissance</key>
		<date>1993-11-23T05:15:30Z</date>
		<key>semestre</key>
		<string>S4</string>
		<key>adresseMail</key>
		<string>charlotte.dupont@u-psud.fr</string>
	</dict>
</array>
</plist>
