<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifiant</key>
		<integer>111</integer>
		<key>enseignant</key>
		<array>
			<string>Maynard</string>
			<string>Balkanski</string>
		</array>
		<key>nomModule</key>
		<string>Algo/C++</string>
		<key>semestreDEnseignement</key>
		<array>
			<string>S1</string>
		</array>
	</dict>
    <dict>
        <key>identifiant</key>
        <integer>121</integer>
        <key>enseignant</key>
        <array>
            <string>Moriceau</string>
            <string>Fournier</string>
        </array>
        <key>nomModule</key>
        <string>Media</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S1</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>131</integer>
        <key>enseignant</key>
        <array>
            <string>Lacour</string>
        </array>
        <key>nomModule</key>
        <string>Systeme</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S1</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>211</integer>
        <key>enseignant</key>
        <array>
            <string>Lopez</string>
        </array>
        <key>nomModule</key>
        <string>IHM</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S2</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>221</integer>
        <key>enseignant</key>
        <array>
            <string>Crepel</string>
            <string>Motchane</string>
        </array>
        <key>nomModule</key>
        <string>Reseaux</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S2</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>231</integer>
        <key>enseignant</key>
        <array>
            <string>Reynaud</string>
            <string>Ligier</string>
        </array>
        <key>nomModule</key>
        <string>Conception OO</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S2</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>311</integer>
        <key>enseignant</key>
        <array>
            <string>Marquet</string>
        </array>
        <key>nomModule</key>
        <string>Gestion</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S3</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>321</integer>
        <key>enseignant</key>
        <array>
            <string>Ales</string>
            <string>CPO B</string>
        </array>
        <key>nomModule</key>
        <string>CPO B</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S3</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>331</integer>
        <key>enseignant</key>
        <array>
            <string>Rosset</string>
            <string>Lambert</string>
        </array>
        <key>nomModule</key>
        <string>Programmation Web</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S3</string>
        </array>
    </dict>
    
    <dict>
        <key>identifiant</key>
        <integer>411</integer>
        <key>enseignant</key>
        <array>
            <string>Guinaudeau</string>
            <string>Ales</string>
        </array>
        <key>nomModule</key>
        <string>Application iOS</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S4</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>421</integer>
        <key>enseignant</key>
        <array>
            <string>Bellik</string>
            <string>Excoffier</string>
        </array>
        <key>nomModule</key>
        <string>Algorithmique Graphique</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S4</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>431</integer>
        <key>enseignant</key>
        <array>
            <string>Montcouquiol</string>
        </array>
        <key>nomModule</key>
        <string>Traitement du signal</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S4</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>511</integer>
        <key>enseignant</key>
        <array>
            <string>Stajic</string>
            <string>Fournier</string>
        </array>
        <key>nomModule</key>
        <string>Anglais</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S1</string>
            <string>S2</string>
            <string>S3</string>
            <string>S4</string>
        </array>
    </dict>
    <dict>
        <key>identifiant</key>
        <integer>521</integer>
        <key>enseignant</key>
        <array>
            <string>Salvator</string>
        </array>
        <key>nomModule</key>
        <string>PPP</string>
        <key>semestreDEnseignement</key>
        <array>
            <string>S1</string>
            <string>S2</string>
            <string>S3</string>
        </array>
    </dict>
</array>
</plist>
